
body {
    background-color: lightgrey;
}

h1 {
    color: black;
    text-align: center;
}
h3 {
	color: darkgrey;
	text-align: center;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 100px;
}
